flows matrice 8x32.json
[{"id":"a85ba6baaa15d0f6","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6b1fc163.10009","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"numeric","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"14c2427d614952c1","type":"Core","z":"a85ba6baaa15d0f6","name":"Core","ip":"192.168.68.59","masterTopic":"\\matrix\\pixelit","x":3170,"y":1760,"wires":[[]]},{"id":"e33997a9b25f3da4","type":"Screen Data Update","z":"a85ba6baaa15d0f6","name":"Screen Data Update","x":2860,"y":820,"wires":[["14c2427d614952c1"]]},{"id":"7487eff3854fabfe","type":"Playlist Update","z":"a85ba6baaa15d0f6","name":"Playlist Update","x":2880,"y":2060,"wires":[["14c2427d614952c1"]]},{"id":"a7ea26fd81f658b7","type":"change","z":"a85ba6baaa15d0f6","name":"Display Playlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"screenName\":\"houseconditions\"},{\"screenName\":\"co2\"},{\"screenName\":\"outsideconditions\"},{\"screenName\":\"production\"},{\"screenName\":\"battery\"},{\"screenName\":\"consumo\"},{\"screenName\":\"recycling\"},{\"screenName\":\"internal_clock\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":2060,"wires":[["7487eff3854fabfe"]]},{"id":"48b57b6fc7996e47","type":"comment","z":"a85ba6baaa15d0f6","name":"Display Playlist","info":"","x":1360,"y":2060,"wires":[]},{"id":"06e3361826ee5e23","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,0,43690,0,0,0,0,0,0,43690,43690,43690,0,0,0,0,43690,43690,43690,43690,43690,0,0,43690,43690,43690,43690,43690,43690,43690,0,0,63383,63383,63383,63383,63383,0,0,0,63383,0,63383,63383,63383,0,0,0,63383,63383,63383,0,63383,0,0,0,63383,63383,63383,0,63383,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2340,"y":1080,"wires":[["e33997a9b25f3da4"]]},{"id":"93941be53cf77348","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2170,"y":1080,"wires":[["06e3361826ee5e23"]]},{"id":"42471b10c932f020","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"inside temp hum c02","inscreenName":"houseconditions","induration":"6","x":1080,"y":1080,"wires":[["cf7b8ba7e2c910c9"]]},{"id":"dbf911ac39943b42","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"Screen Init","inscreenName":"internal_clock","induration":"10","x":2130,"y":1200,"wires":[["9514193d7107107f"]]},{"id":"9514193d7107107f","type":"Clock","z":"a85ba6baaa15d0f6","name":"Clock","inswitchAktiv":"true","inswitchSec":"6","inwithSeconds":"false","incolorHex":"","incolorR":"3","incolorG":"169","incolorB":"244","x":2350,"y":1200,"wires":[["e33997a9b25f3da4"]]},{"id":"d5fe7b8e41ac306b","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_carport_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"temp2","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1720,"y":1280,"wires":[["0e122b4a642da4c3"]]},{"id":"0e122b4a642da4c3","type":"function","z":"a85ba6baaa15d0f6","name":"function 2","func":"msg.payload = `${msg.temp2}°C`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1280,"wires":[["4439aef87c423e15"]]},{"id":"b596fc9ab8427425","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,11941,35491,11941,11941,21834,35491,0,11941,21834,11941,35491,21834,35491,11941,0,21824,35491,21834,35491,35491,11941,21834,0,21824,11941,35491,35491,11941,21834,0,0,0,21824,11941,35491,11941,0,0,0,0,0,0,35491,0,0,0,0,0,0,0,35491,0,0,0,0,0,0,35491,35491,35491,0,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2340,"y":1280,"wires":[[]]},{"id":"4439aef87c423e15","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2170,"y":1280,"wires":[["b596fc9ab8427425"]]},{"id":"cb25749a458c5ad8","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"outiside tem hum","inscreenName":"outsideconditions","induration":"4","x":1350,"y":1280,"wires":[["d5fe7b8e41ac306b"]]},{"id":"6fb03f3dd6d8c9e3","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"50","topic":"","payload":"","payloadType":"date","x":880,"y":1280,"wires":[["cb25749a458c5ad8"]]},{"id":"2ddf8d5dae2be5b1","type":"inject","z":"a85ba6baaa15d0f6","name":"Instant","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1560,"y":2060,"wires":[["a7ea26fd81f658b7"]]},{"id":"43589b681083ca68","type":"inject","z":"a85ba6baaa15d0f6","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1910,"y":1200,"wires":[["dbf911ac39943b42"]]},{"id":"dbeaafc156c401fd","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":860,"y":1080,"wires":[["42471b10c932f020"]]},{"id":"cf7b8ba7e2c910c9","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":1080,"wires":[["ba86f68f40fd8b9a"]]},{"id":"ba86f68f40fd8b9a","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"humid","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1760,"y":1080,"wires":[["f6f10054c0ebeaee"]]},{"id":"f6f10054c0ebeaee","type":"function","z":"a85ba6baaa15d0f6","name":"function 3","func":"msg.payload = `${msg.temp}°C ${msg.humid}%`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1080,"wires":[["93941be53cf77348"]]},{"id":"1bfe107b3684df4c","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_rain_rain","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"rain","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":1400,"wires":[["f8a3bab98191a3f8"]]},{"id":"f8a3bab98191a3f8","type":"function","z":"a85ba6baaa15d0f6","name":"function 4","func":"msg.payload = `${msg.rain}mm`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1400,"wires":[["d2bf0479c3ab7117"]]},{"id":"681cc2bd1a61afde","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,65341,0,65341,65341,65341,65341,65341,65373,0,0,0,9406,0,0,9406,0,9406,0,9406,0,0,9406,0,0,0,0,0,9406,0,0,0,9406,0,9406,0,0,0,9406,0,0,0,0,0,9406,0,0,9406,0,9406]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1400,"wires":[["e33997a9b25f3da4"]]},{"id":"d2bf0479c3ab7117","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":1910,"y":1400,"wires":[["681cc2bd1a61afde"]]},{"id":"e6ac3460b0b8864c","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"rain","inscreenName":"rain","induration":"4","x":970,"y":1400,"wires":[["1bfe107b3684df4c"]]},{"id":"bebea5e4b7f7820c","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"50","topic":"","payload":"","payloadType":"date","x":800,"y":1400,"wires":[["e6ac3460b0b8864c"]]},{"id":"02ef8ee65a603e83","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_wind_wind_strength","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"windspeed","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":1460,"wires":[["c9897520a3e909cb"]]},{"id":"057f03511212b187","type":"function","z":"a85ba6baaa15d0f6","name":"function 5","func":"msg.payload = `${msg.windspeed}km/h ${msg.direction}`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1460,"wires":[["add6ecca56eb4932"]]},{"id":"05a673b72683c65e","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,0,0,63294,63294,0,0,0,0,0,0,0,0,63294,0,0,0,0,0,0,0,63294,0,63294,63294,63294,63294,63294,63294,0,0,9406,9406,9406,9406,9406,9406,0,0,0,0,0,0,0,0,9406,0,0,0,0,0,0,0,9406,0,0,0,0,0,9406,9406,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1460,"wires":[["e33997a9b25f3da4"]]},{"id":"add6ecca56eb4932","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":1910,"y":1460,"wires":[["05a673b72683c65e"]]},{"id":"7002747da2966d65","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"wind","inscreenName":"wind","induration":"5","x":530,"y":1460,"wires":[["02ef8ee65a603e83"]]},{"id":"eb37e750464d2b85","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"50","topic":"","payload":"","payloadType":"date","x":360,"y":1460,"wires":[["7002747da2966d65"]]},{"id":"c9897520a3e909cb","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_wind_direction","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"direction","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":1460,"wires":[["057f03511212b187"]]},{"id":"756c2b9daf0a9099","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.solarman_pv_instant_generated_pw","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"generated","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":1600,"wires":[["b4b1f1cb9271d3d1"]]},{"id":"b4b1f1cb9271d3d1","type":"function","z":"a85ba6baaa15d0f6","name":"function 6","func":"msg.payload = `${msg.generated}kwh`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1600,"wires":[["37d133ec7948d1a4"]]},{"id":"37d133ec7948d1a4","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":1910,"y":1600,"wires":[["bffe658a1b79e06f"]]},{"id":"7fee160886cf6683","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"solar production","inscreenName":"production","induration":"5","x":860,"y":1600,"wires":[["756c2b9daf0a9099"]]},{"id":"6013274d961679e5","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"50","topic":"","payload":"","payloadType":"date","x":640,"y":1600,"wires":[["7fee160886cf6683"]]},{"id":"bffe658a1b79e06f","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[61258,61258,61258,0,61258,0,0,0,61258,61258,61258,0,0,0,0,0,61258,61258,61258,0,61258,0,0,35491,0,0,0,0,0,0,35491,35491,61258,0,61258,0,0,35491,35491,35491,0,0,0,0,35491,35491,35491,35491,0,0,0,0,0,65341,0,65341,0,0,0,0,0,65341,65341,65341]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1600,"wires":[["e33997a9b25f3da4"]]},{"id":"d78e20505883f2ce","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.solarman_battery_percentage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"batt","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1250,"y":1840,"wires":[["145d0f1b5b22db99"]]},{"id":"145d0f1b5b22db99","type":"function","z":"a85ba6baaa15d0f6","name":"function 7","func":"msg.payload = `${msg.batt}%`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1840,"wires":[["d05dbb0886c95e40"]]},{"id":"379a395e5e9db4e5","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2150,"y":1840,"wires":[["4abfbb50a9d25ae4"]]},{"id":"6437efc0dcc02b32","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"battery","inscreenName":"battery","induration":"4","x":830,"y":1840,"wires":[["d78e20505883f2ce"]]},{"id":"0a6b6537d5058163","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"50","topic":"","payload":"","payloadType":"date","x":640,"y":1840,"wires":[["6437efc0dcc02b32"]]},{"id":"4abfbb50a9d25ae4","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,65535,65535,65535,65535,0,0,0,0,65535,2016,2016,65535,0,0,0,65535,2016,2016,2016,2016,65535,0,0,65535,2016,2016,2016,2016,65535,0,0,65535,2016,2016,2016,2016,65535,0,0,65535,2016,2016,2016,2016,65535,0,0,65535,2016,2016,2016,2016,65535,0,0,65535,65535,65535,65535,65535,65535,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1840,"wires":[["e33997a9b25f3da4"]]},{"id":"2c512baf4366c816","type":"Switch Animation","z":"a85ba6baaa15d0f6","name":"Switch Animation","aktiv":"true","animation":"fade","indata":"","inwidth":"","incolorHex":"","incolorR":"","incolorG":"","incolorB":"","x":1570,"y":2160,"wires":[["fb3269dea6aac5b4"]]},{"id":"fb3269dea6aac5b4","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"THERE IS MAIL","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":1730,"y":2160,"wires":[["35d5348bb2fe441d"]]},{"id":"dad5f45637500684","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"Screen Init","inscreenName":"Postman","induration":"100","x":1250,"y":2160,"wires":[["2c512baf4366c816"]]},{"id":"35d5348bb2fe441d","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[31,10586,0,0,0,0,0,0,31,10586,31,0,0,0,0,0,65205,65205,0,0,0,0,0,0,65205,65205,0,58624,58624,58624,58624,0,65205,0,0,58624,54464,54464,60704,0,64512,64512,64512,64512,65205,54464,58624,0,64512,64512,0,58624,58624,58624,58624,0,64512,64512,0,0,0,0,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1900,"y":2160,"wires":[["afb686f124e7205a","58f741423f1698d8"]]},{"id":"b96415a3222cfee5","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[59046,59046,59046,0,0,0,0,0,59046,0,0,0,0,0,0,0,59046,59046,59046,0,0,0,0,0,0,0,0,0,0,59046,59046,59046,0,59046,59046,59046,0,0,0,59046,0,59046,0,59046,0,59046,59046,59046,0,59046,59046,59046,0,59046,0,0,0,0,0,0,0,59046,59046,59046]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2340,"y":1140,"wires":[[]]},{"id":"7f29dcb63d12848a","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2170,"y":1140,"wires":[["b96415a3222cfee5"]]},{"id":"8dcab82473d2f600","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"CO2","inscreenName":"co2","induration":"4","x":1510,"y":1140,"wires":[["02dd6b3e9c03845f"]]},{"id":"67d497cffbd06bd9","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":860,"y":1140,"wires":[["8dcab82473d2f600"]]},{"id":"051c547de0b16687","type":"function","z":"a85ba6baaa15d0f6","name":"function 8","func":"msg.payload = `${msg.co2}ppm`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1140,"wires":[["7f29dcb63d12848a"]]},{"id":"02dd6b3e9c03845f","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.house_box_co2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"co2","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1770,"y":1140,"wires":[["051c547de0b16687"]]},{"id":"afb686f124e7205a","type":"debug","z":"a85ba6baaa15d0f6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2240,"y":2300,"wires":[]},{"id":"58f741423f1698d8","type":"Alert Screen","z":"a85ba6baaa15d0f6","name":"Alert Screen","x":2890,"y":2200,"wires":[["14c2427d614952c1"]]},{"id":"6c58128ba53e13a4","type":"ha-device","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":1,"exposeAsEntityConfig":"","inputs":0,"deviceType":"trigger","device":"a610dfb3beeccef93033f945eb14915c","event":{"type":"opened","platform":"device","device_id":"a610dfb3beeccef93033f945eb14915c","entity_id":"c7041507c9a496388f8aeacf89180ceb","domain":"binary_sensor","metadata":{"secondary":false}},"capabilities":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":750,"y":2160,"wires":[["dad5f45637500684"]]},{"id":"a914b97174861cf6","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"calendar.UMIDO","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"calendar.umido","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":360,"wires":[["5fc51862aa37d9e3"]]},{"id":"5fc51862aa37d9e3","type":"change","z":"a85ba6baaa15d0f6","name":"msg.next_date","rules":[{"t":"move","p":"data.attributes.start_time","pt":"msg","to":"next_date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":360,"wires":[["29753e6c91f72cb8"]]},{"id":"29753e6c91f72cb8","type":"moment","z":"a85ba6baaa15d0f6","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Rome","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"C","output":"tomorrow_date","outputType":"msg","outTz":"Europe/Rome","x":1280,"y":380,"wires":[["bb90f253e31be72c"]]},{"id":"bb90f253e31be72c","type":"switch","z":"a85ba6baaa15d0f6","name":"dates match?","property":"tomorrow_date","propertyType":"msg","rules":[{"t":"eq","v":"next_date","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":400,"wires":[["2471220a0d3ea1b1"],["2c97ca1e4f963c4b"]]},{"id":"2471220a0d3ea1b1","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"umido","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"UMIDO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":360,"wires":[["72d8867104e33446"]]},{"id":"2c97ca1e4f963c4b","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"secco","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":440,"wires":[["ec7135272cc3e5a8"]]},{"id":"4db95738af0e1ad7","type":"inject","z":"a85ba6baaa15d0f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":360,"wires":[["0ad6407f79e53376"]]},{"id":"0ad6407f79e53376","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"recycling","inscreenName":"recycling","induration":"9","x":580,"y":360,"wires":[["a914b97174861cf6"]]},{"id":"72d8867104e33446","type":"Text","z":"a85ba6baaa15d0f6","name":"text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2170,"y":360,"wires":[["37018b13562a82ef"]]},{"id":"37018b13562a82ef","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,22506,22506,22506,22506,22506,22506,0,22506,0,0,0,0,0,0,22506,0,22506,0,22506,22506,0,22506,0,0,22506,0,22506,22506,0,22506,0,0,22506,0,22506,22506,0,22506,0,0,22506,0,22506,22506,0,22506,0,0,22506,0,0,0,0,22506,0,0,0,22506,22506,22506,22506,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2360,"y":360,"wires":[["e33997a9b25f3da4"]]},{"id":"ec7135272cc3e5a8","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"calendar.SECCO","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"calendar.secco","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":500,"wires":[["f186565406eef9fa"]]},{"id":"f186565406eef9fa","type":"change","z":"a85ba6baaa15d0f6","name":"msg.next_date","rules":[{"t":"move","p":"data.attributes.start_time","pt":"msg","to":"next_date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":500,"wires":[["bcd0a9dc13b8401e"]]},{"id":"bcd0a9dc13b8401e","type":"moment","z":"a85ba6baaa15d0f6","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Rome","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"C","output":"tomorrow_date","outputType":"msg","outTz":"Europe/Rome","x":1280,"y":500,"wires":[["408ceffe1a475f0d"]]},{"id":"408ceffe1a475f0d","type":"switch","z":"a85ba6baaa15d0f6","name":"dates match?","property":"tomorrow_date","propertyType":"msg","rules":[{"t":"eq","v":"next_date","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":540,"wires":[["7817d36fc42936d3"],["85f58964a2882dc9"]]},{"id":"7817d36fc42936d3","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"umido","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"SECCO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":500,"wires":[["42a7f2ec59e26da3"]]},{"id":"85f58964a2882dc9","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"secco","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"NO RECYCLING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":580,"wires":[["793f1fb94cdfcd8c"]]},{"id":"42a7f2ec59e26da3","type":"Text","z":"a85ba6baaa15d0f6","name":"text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2050,"y":500,"wires":[["7a99b24af689feb1"]]},{"id":"7a99b24af689feb1","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,23210,23210,23210,23210,23210,23210,0,23210,0,0,0,0,0,0,23210,0,23210,0,23210,23210,0,23210,0,0,23210,0,23210,23210,0,23210,0,0,23210,0,23210,23210,0,23210,0,0,23210,0,23210,23210,0,23210,0,0,23210,0,0,0,0,23210,0,0,0,23210,23210,23210,23210,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2360,"y":500,"wires":[["e33997a9b25f3da4"]]},{"id":"793f1fb94cdfcd8c","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"calendar.PLASTICA","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"calendar.plastica","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":640,"wires":[["cadc432d81b061dc"]]},{"id":"cadc432d81b061dc","type":"change","z":"a85ba6baaa15d0f6","name":"msg.next_date","rules":[{"t":"move","p":"data.attributes.start_time","pt":"msg","to":"next_date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":640,"wires":[["da61e080f874e226"]]},{"id":"da61e080f874e226","type":"moment","z":"a85ba6baaa15d0f6","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Rome","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"C","output":"tomorrow_date","outputType":"msg","outTz":"Europe/Rome","x":1280,"y":660,"wires":[["cadac6db8aaaa380"]]},{"id":"cadac6db8aaaa380","type":"switch","z":"a85ba6baaa15d0f6","name":"dates match?","property":"tomorrow_date","propertyType":"msg","rules":[{"t":"eq","v":"next_date","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":680,"wires":[["1ab46e9406af9279"],["2f97b393fe470f23"]]},{"id":"1ab46e9406af9279","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"umido","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"PLASTICA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":640,"wires":[["e3acf64d370c5880"]]},{"id":"2f97b393fe470f23","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"secco","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"NO RECYCLING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":720,"wires":[["67803d0737a374a7"]]},{"id":"e3acf64d370c5880","type":"Text","z":"a85ba6baaa15d0f6","name":"text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2050,"y":640,"wires":[["c3324b5825cc3ae5"]]},{"id":"c3324b5825cc3ae5","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,65412,65412,65412,65412,65412,65412,0,65412,0,0,0,0,0,0,65412,0,65412,0,65412,65412,0,65412,0,0,65412,0,65412,65412,0,65412,0,0,65412,0,65412,65412,0,65412,0,0,65412,0,65412,65412,0,65412,0,0,65412,0,0,0,0,65412,0,0,0,65412,65412,65412,65412,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2360,"y":640,"wires":[["e33997a9b25f3da4"]]},{"id":"67803d0737a374a7","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"calendar.VETRO","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"calendar.vetro","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":780,"wires":[["8f8ac5b9db7142f1"]]},{"id":"8f8ac5b9db7142f1","type":"change","z":"a85ba6baaa15d0f6","name":"msg.next_date","rules":[{"t":"move","p":"data.attributes.start_time","pt":"msg","to":"next_date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":780,"wires":[["673b9bb0753a04da"]]},{"id":"673b9bb0753a04da","type":"moment","z":"a85ba6baaa15d0f6","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Rome","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"C","output":"tomorrow_date","outputType":"msg","outTz":"Europe/Rome","x":1280,"y":800,"wires":[["2e8ff56dec16e072"]]},{"id":"2e8ff56dec16e072","type":"switch","z":"a85ba6baaa15d0f6","name":"dates match?","property":"tomorrow_date","propertyType":"msg","rules":[{"t":"eq","v":"next_date","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":820,"wires":[["fe2d8a71c73acbc8"],["2f9a9741c4dce45e"]]},{"id":"fe2d8a71c73acbc8","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"umido","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"VETRO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":780,"wires":[["20922f9ebcd78d79"]]},{"id":"2f9a9741c4dce45e","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"secco","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"NO RECYCLING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":860,"wires":[["67893ebd119efb82"]]},{"id":"20922f9ebcd78d79","type":"Text","z":"a85ba6baaa15d0f6","name":"text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2050,"y":780,"wires":[["ad6757b7c5f3b99d"]]},{"id":"ad6757b7c5f3b99d","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,9406,9406,9406,9406,9406,9406,0,9406,0,0,0,0,0,0,9406,0,9406,0,9406,9406,0,9406,0,0,9406,0,9406,9406,0,9406,0,0,9406,0,9406,9406,0,9406,0,0,9406,0,9406,9406,0,9406,0,0,9406,0,0,0,0,9406,0,0,0,9406,9406,9406,9406,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2360,"y":780,"wires":[["e33997a9b25f3da4"]]},{"id":"af3630661269473e","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.solarman_feed_in_out_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"power","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":1740,"wires":[["2830199ecfc7ef63"]]},{"id":"2830199ecfc7ef63","type":"function","z":"a85ba6baaa15d0f6","name":"function 9","func":"msg.payload = `${msg.power}kwh`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1740,"wires":[["58a04ad52d988f92"]]},{"id":"f7da3b9b17247f2f","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":1930,"y":1700,"wires":[["27520d65c4736dc0"]]},{"id":"d92392786e8dcb0b","type":"Screen Init","z":"a85ba6baaa15d0f6","name":"HOUSE CONSUMPTION","inscreenName":"consumo","induration":"4","x":910,"y":1740,"wires":[["af3630661269473e"]]},{"id":"50c9d2a40ee738ed","type":"inject","z":"a85ba6baaa15d0f6","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"50","topic":"","payload":"","payloadType":"date","x":660,"y":1740,"wires":[["d92392786e8dcb0b"]]},{"id":"27520d65c4736dc0","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,0,0,0,0,0,0,0,0,65341,65341,65341,65341,0,0,0,0,65341,65341,65341,65341,52834,52834,1530,1530,65341,65341,65341,65341,0,0,1530,1530,65341,65341,65341,65341,0,0,0,0,65341,65341,65341,65341,52834,52834,0,0,65341,65341,65341,65341,0,0,0,0,0,0,0,0,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1700,"wires":[["e33997a9b25f3da4"]]},{"id":"67893ebd119efb82","type":"api-current-state","z":"a85ba6baaa15d0f6","name":"calendar.CARTA","server":"6b1fc163.10009","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"calendar.carta","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":920,"wires":[["24190b852d0851a6"]]},{"id":"24190b852d0851a6","type":"change","z":"a85ba6baaa15d0f6","name":"msg.next_date","rules":[{"t":"move","p":"data.attributes.start_time","pt":"msg","to":"next_date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":920,"wires":[["b582045c68618339"]]},{"id":"b582045c68618339","type":"moment","z":"a85ba6baaa15d0f6","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Rome","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"C","output":"tomorrow_date","outputType":"msg","outTz":"Europe/Rome","x":1280,"y":940,"wires":[["86b4160df9140009"]]},{"id":"86b4160df9140009","type":"switch","z":"a85ba6baaa15d0f6","name":"dates match?","property":"tomorrow_date","propertyType":"msg","rules":[{"t":"eq","v":"next_date","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":960,"wires":[["66d6fc43841d7c23"],["ef821dd30ce7f350"]]},{"id":"66d6fc43841d7c23","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"umido","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"CARTA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":920,"wires":[["1fe19c0d2609bf63"]]},{"id":"ef821dd30ce7f350","type":"change","z":"a85ba6baaa15d0f6","name":"","rules":[{"t":"set","p":"secco","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"NO RECYCLING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":1000,"wires":[["dea1ecad0a4020c5"]]},{"id":"1fe19c0d2609bf63","type":"Text","z":"a85ba6baaa15d0f6","name":"text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2050,"y":920,"wires":[["377f2f31c71cd7fe"]]},{"id":"377f2f31c71cd7fe","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,37508,37508,37508,37508,37508,37508,0,37508,0,0,0,0,0,0,37508,0,37508,0,37508,37508,0,37508,0,0,37508,0,37508,37508,0,37508,0,0,37508,0,37508,37508,0,37508,0,0,37508,0,37508,37508,0,37508,0,0,37508,0,0,0,0,37508,0,0,0,37508,37508,37508,37508,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2360,"y":920,"wires":[["e33997a9b25f3da4"]]},{"id":"56ce6cd49117d498","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42918,0,0,0,0,0,0,42918,42918,0,0,0,0,0,42918,42918,0,42918,0,0,0,42918,42918,0,0,42918,42918,0,42918,42918,0,0,0,0,42918,42918,42918,0,0,0,0,0,0,42918,0,0,0,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2340,"y":1020,"wires":[["e33997a9b25f3da4"]]},{"id":"dea1ecad0a4020c5","type":"Text","z":"a85ba6baaa15d0f6","name":"text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2050,"y":1000,"wires":[["56ce6cd49117d498"]]},{"id":"db81f5cf706680bd","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2150,"y":1900,"wires":[["f01043354e94d49f"]]},{"id":"f01043354e94d49f","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,65535,65535,65535,65535,0,0,0,0,65535,0,0,65535,0,0,0,65535,0,0,0,0,65535,0,0,65535,0,0,0,0,65535,0,0,65535,0,0,0,0,65535,0,0,65535,64512,64512,64512,64512,65535,0,0,65535,64512,64512,64512,64512,65535,0,0,65535,65535,65535,65535,65535,65535,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1900,"wires":[["e33997a9b25f3da4"]]},{"id":"b303d2dbc8ecc2f2","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":2150,"y":1960,"wires":[["5945c2143ccbb813"]]},{"id":"5945c2143ccbb813","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[0,0,65535,65535,65535,65535,0,0,0,0,65535,0,0,65535,0,0,0,65535,0,0,0,0,65535,0,0,65535,0,0,0,0,65535,0,0,65535,0,0,0,0,65535,0,0,65535,0,0,0,0,65535,0,0,65535,63488,63488,63488,63488,65535,0,0,65535,65535,65535,65535,65535,65535,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1960,"wires":[["e33997a9b25f3da4"]]},{"id":"58a04ad52d988f92","type":"switch","z":"a85ba6baaa15d0f6","name":"","property":"power","propertyType":"msg","rules":[{"t":"lt","v":"6000","vt":"str"},{"t":"gt","v":"6000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":1740,"wires":[["f7da3b9b17247f2f"],["d37daf7f30ac271e"]]},{"id":"d37daf7f30ac271e","type":"Text","z":"a85ba6baaa15d0f6","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"10","inposY":"1","incolorHex":"","incolorR":"255","incolorG":"255","incolorB":"255","x":1930,"y":1760,"wires":[["b5a7f8822135bf5d"]]},{"id":"b5a7f8822135bf5d","type":"Bitmap","z":"a85ba6baaa15d0f6","name":"Bitmap","indata":"[63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,65535,65535,63488,63488,63488,63488,63488,63488,65535,65535,63488,63488,63488,63488,63488,63488,65535,65535,63488,63488,63488,63488,63488,63488,65535,65535,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,65535,65535,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488,63488]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":2320,"y":1760,"wires":[["e33997a9b25f3da4"]]},{"id":"d05dbb0886c95e40","type":"switch","z":"a85ba6baaa15d0f6","name":"","property":"batt","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"str"},{"t":"btwn","v":"49","vt":"num","v2":"30","v2t":"num"},{"t":"lt","v":"29","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1770,"y":1840,"wires":[["379a395e5e9db4e5"],["db81f5cf706680bd"],["b303d2dbc8ecc2f2"]]}]